#nepse-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 25px;
    background-color: #686969;
    max-width: 100%;
}

table,
th,
td {
    border: 0px solid black;
    border-collapse: collapse;
}

th {
    background-color: #8fa5a5;
}

th,
td {
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #2b3f5c;
}

.call {
    width: 120px;
}

tbody tr:hover {
    background-color: #c9ced6;
    color: black;
}

.val {
    text-align: right;
    width: 150px;
}

.vol {
    text-align: right;
    width: 130px;
}

.txn {
    text-align: right;
    width: 100px;
}

.cal {
    width: 125px;
}

.o {
    text-align: right;
}

.ca {
    text-align: right;
}

.ind-head {
    text-align: center;
    padding-top: 20px;
    padding-right: 15px;
}