#nepse-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 25px;
    background-color: var(--bg-secondary);
    max-width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
}

table,
th,
td {
    border: 0px solid black;
    border-collapse: collapse;
}

th {
    background-color: #408585;
    /* Teal */
    color: var(--text-primary);
}

th,
td {
    font-size: 15px;
    text-align: center;
    padding: 5px;
    color: var(--text-primary);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.03);
}

.call {
    width: 120px;
}

tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-primary);
}

.val {
    text-align: right;
    width: 150px;
}

.vol {
    text-align: right;
    width: 130px;
}

.txn {
    text-align: right;
    width: 100px;
}

.cal {
    width: 125px;
}

.o {
    text-align: right;
}

.ca {
    text-align: right;
}

.ind-head {
    text-align: center;
    padding-top: 20px;
    padding-right: 15px;
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
}

@media (max-width: 1400px) {
    #nepse-table {
        min-width: 1300px;
    }
}