.nepse-table {
    max-width: 1800px;
    margin-top: 20px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nepse-table {
    background-color: #686969;
    border-radius: 15px;
    padding: 10px;
    width: 1000px;
}

.l {
    text-align: center;
}

#r {
    text-align: right;
}

.o {
    text-align: right;
}

tr:nth-child(even) {
    background-color: #2b3f5c;
}

thead {
    background-color: #8fa5a5;
}

th,
td {
    font-size: 15px;
    padding: 5px;
}

table,
thead,
tbody {
    border-collapse: collapse;
}

tbody tr:hover {
    background-color: #c9ced6;
    color: black;
}